<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to HouseType Predictor</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>HouseType Predictor</h1>
        <p>Welcome to the Future of Home Selection – Tailored Insights to Find Your Perfect Home.</p>
        <form action="/index">
            <button type="submit" class="btn">Get Started</button>
        </form>
    </div>
</body>
</html>
